<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div style="max-width: 800px; margin: 20px auto; padding: 10px; display: flex; justify-content: space-between; align-items: center; background: #f0f0f0; border-radius: 8px; font-size: 14px;">
    <div>
        Привет, <strong sec:authentication="name">Гость</strong>!
    </div>
    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit"
                style="
                padding: 6px 12px;
                background: #d9534f;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;">
            Выйти
        </button>
    </form>
</div>
<h1>Мои задачи</h1>

<div class="input-group">
    <input type="text" id="title" placeholder="Новая задача" />
    <button onclick="addTodo()">Добавить</button>
</div>

<ul id="todoList">

</ul>

<script src="/js/app.js"></script>
</body>
</html>